.homeSummer {
  background-image: url("/images/homeSummerCamp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 85%;
  height: 740px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 80px;
}
