.homeRaise {
  background-image: url("/images/homeRaise.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 85%;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 50px;
  font-weight: 600;
}
