.homeBuild {
  background-image: url("/images/homeBuild.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 85%;
  height: 740px;
  color: white;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 90px;
  font-weight: 600;
}
