.programmesFeatures {
  background-color: white;
  width: 85%;
  height: auto;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.programmesFeaturesBox {
  flex-grow: 1;
  width: 33%;
  height: auto;
  border: 1px solid lightgrey;
  padding: 25px 30px;
}
