.joinUsProgrammes {
  background-color: white;
  width: 85%;
  color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.programmesIconContainer {
  column-width: 50px;
  text-align: center;
}

.programmesIcon {
  max-width: 40px;
  max-width: 40px;
}

.grey {
  color: grey;
  text-align: center;
}

.selected {
  /* OPTION 1: no subratlla */
  /* text-decoration: underline solid #fe4c02 5px; */

  /* OPTION 2: ni cas de thickness */
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #fe4c02;
  text-align: center;

  /* OPTION 3: subratlla tot el div */
  /* border-bottom: 5px solid #fe4c02; */
}

.twoColumns {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 250px;
}

.headerHeight {
  height: 80px;
}
