.joinUsProgrammes {
  background-color: white;
  width: 85%;
  color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.programmesIconContainer {
  column-width: 50px;
  text-align: center;
}

.programmesIcon {
  max-width: 40px;
  max-width: 40px;
}

.grey {
  color: grey;
  text-align: center;
}

.selected {
  text-decoration-line: underline;
  text-decoration-thickness: 3px; /* Només funciona amb Safari o Mozilla */
  text-decoration-color: #fe4c02;
  text-align: center;
}

.twoColumns {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 250px;
}

.headerHeight {
  height: 100px;
}
