.programResume {
  background-color: #57463a;
  width: 85%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 160px;
}
