.joinUsProgrammes {
  background-color: white;
  width: 85%;
  color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 80px;
}

.programmesIconContainer {
  column-width: 80px;
}

.programmesIcon {
  max-width: 50px;
  max-width: 50px;
}
