.homeBuild {
  background-image: url("https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/61684680_2200602176724409_6711742863723462656_o.jpg?_nc_cat=104&_nc_sid=e3f864&_nc_ohc=KdVzhoDvO2sAX94N5vB&_nc_ht=scontent-mad1-1.xx&oh=a720dd67bca0cacec6232a12aa977483&oe=5F36581F");
  background-repeat: no-repeat;
  background-size: cover;
  width: 85%;
  height: 740px;
  color: white;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 90px;
  font-weight: 600;
}
