.ourTeam {
  background-color: white;
  width: 85%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 60px 50px;
}

.bottomLine {
  border-top: solid black 4px;
  width: 150px;
  margin-left: 50px;
}

.picture1 {
  width: 150px;
  height: 150px;
  background-image: url("https://www.elperiodicodeaqui.com/netpublisher/minfo/imagenes/9760_basket__2_.jpg");
  background-size: cover;
  background-position: center;
}

.picture2 {
  width: 150px;
  height: 150px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Pedro_Mart%C3%ADnez_-_Saski_Baskonia_20171215.jpg/1200px-Pedro_Mart%C3%ADnez_-_Saski_Baskonia_20171215.jpg");
  background-size: cover;
  background-position: top;
}

.picture3 {
  width: 150px;
  height: 150px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1d/Sergio_Llull.jpg");
  background-size: cover;
  background-position: top;
}

.picture4 {
  width: 150px;
  height: 150px;
  background-image: url("https://i.ytimg.com/vi/UXV4H_UjWgE/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
}
