.whatMakesDifference {
  background-color: whitesmoke;
  width: 85%;
  padding: 50px;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 60px 100px;
}

.icon-container {
  margin: 0px 15px;
  border: 2px solid grey;
  border-radius: 100px;
  cursor: pointer;
  height: 175px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container-orange {
  margin: 0px 15px;
  border: 2px solid #fe4c02;
  border-radius: 100px;
  cursor: pointer;
  height: 175px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 60px;
}

.differenceDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 0px 200px;
}
