.values {
  background-image: url("/images/aboutOurValues.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 85%;
  height: 700px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
